# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
back/node_modules
front/node_modules

# testing
front/coverage
back/tmp


# production
back/build
front/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

